@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.active{
  color:aqua;
  font-size: 20px;
  
}
body{
  background-color:black;
  font-family: Montserrat;
  
 
}
p{
  color:white;
}
